<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BTS Memes API</title>
  <link href="css/reset.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  
</head>
<body>
  <header>
    <h1>BTS Memes API</h1>
    <nav>
      <a href="/">Home</a>
      <a href="/add">Add Meme</a>
    </nav>
  </header>

  <main class="imageUpload">
    <section class="form-section">
      <h2>Add A Meme</h2>
      <form action="/addMeme" method="POST" enctype="multipart/form-data">
      <div class="form-inputs">
        <div class="form-input">
          <label for="memeImage">Upload meme *</label>
          <input type="file" id="formFile" name="memeImage" class="input">
        </div>

        <div class="form-input">
          <label for="member">Member *</label>
          <select name="member" class="input">
            <option value="Namjoon">Namjoon</option>
            <option value="Jin">Jin</option>
            <option value="Yoongi">Yoongi</option>
            <option value="J-Hope">J-Hope</option>
            <option value="Jimin">Jimin</option>
            <option value="Taehyung">Taehyung</option>
            <option value="Jungkook">Jungkook</option>
            <option value="Other">Other</option>
          </select>
        </div>
        <div class="form-input">
          <label for="category">Category *</label>
          <select name="category" class="input">
            <optgroup label="Positive">
              <option value="Like">Like</option>
              <option value="Funny">Funny</option>
              <option value="Love">Love</option>
            </optgroup>
            <optgroup label="Negative">
              <option value="Anger">Anger</option>
              <option value="Fear">Fear</option>
              <option value="Dislike">Dislike</option>
              <option value="Jealousy">Jealousy</option>
              <option value="Pain">Pain</option>
              <option value="Sadness">Sadness</option>
              <option value="Struggling">Struggling</option>
            </optgroup>
            <optgroup label="Neutral">
              <option value="Confusion">Confusion</option>
              <option value="I'm a mess">I'm a mess</option>
              <option value="Unbothered">Unbothered</option>
              <option value="Shock">Shock</option>
              <option value="Other">Other</option>
            </optgroup>
          </select>
        </div>
    
        <div class="form-input">
          <label for="description">Description </label>
          <textarea name="description" class="input"></textarea>
        </div>
    
        <button type="submit" class="submit-btn">Submit</button>
      </div>
      </form>
    </section>

    <section class="upload">
      <p>Meme successfully uploaded!</p>
      <section class="meme">
        <img id="uploadedImage" src="<%= imageUrl %>">
        <div id="memeInfo">
          <p id="memeDescription"><%= description %></p>
          <span id="memeMember"><%= member %></span>
          <span id="memeCategory"><%= category %></span>
        </div>
      </section>
    </section>

  </main>

  

  <script src='js/main.js'></script>

</body>
</html>